body{
    height: 100vh;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div{
    width: 200px;
    height: 70px;
}
.day{
    width: 120px;
    height: 60px;
    background-color: #C0E6F6;
    border-radius: 40%;
    border: 3px solid #81C0D5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.bkg{
    display: flex;
    flex-direction: row-reverse;
}
.sun-border{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #F5EB42;
    margin-right: 10px;
    border-radius: 100%;
    border: 3px solid #E4C74D;
}
.cloud-border{
    width: 40px;
    height: 30px;
    display: flex;
    position: relative;
    left: 15px;
    top: 15px;
}
.cloud1{
    width: 100%;
    height: 20px;
    background-color: aliceblue;
    z-index: 2;
    border-radius: 60%;
    position: absolute;
    bottom: 0;
  
}
.cloud2{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: aliceblue;
    border-radius: 60%;
    z-index: 3;
    top: 0;
    left: 20px;
  

}
.cloud3{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: aliceblue;
    z-index: 3;
    border-radius: 60%;
    right: 20px;
    top: 2px;
  
}